# Life_Expectancy_WHO_UN_Analysis_Modeling

## What Exactly Is Missing?

To:&nbsp;&nbsp;&nbsp;&nbsp; [Magnimind](https://magnimindacademy.com/)

From: Matt Curcio, matt.curcio.ri@gmail.com

Date: 2023-01-29

Re:&nbsp;&nbsp;&nbsp; Iintial Data Analysis

---

# What Exactly Is Missing From Life Expectancy Dataset

**Executive Summary**

- The orginal dataset, `Life_Expectancy_Data.csv`, displayed **193 unique nations**.  

- However, 10 countries had only one entry each. These 10 countries had ONLY the year = 2013.  

- Therefore the cleaned dataset and analysis has **183 usable countries**.

---

### NOTE 1:
 
- I will not impute data for the missing 10 nations. Therefore it is reasonable to delete the ten countries which make up ten rows.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load ORIGINAL DATASET
path = '../data/processed/'
filename = 'Life_Expectancy_Data.csv'

# Clean column names
column_names = ['Country','Year','Status','LifeExpectancy','AdultMort',
                'InfD','EtOH','PercExpen','HepB','Measles',
                'BMI','lt5yD','Polio','TotalExpen','DTP','HIV',
                'GDP','Population','Thin1_19y','Thin5_9y','Income',
                'Education']

df = pd.read_csv(path+filename, 
                 names=column_names, 
                 header=0)

In [6]:
# Exactly what countries have missing Life Expectancy data.column_names?

left_out = df.loc[df['LifeExpectancy'].isnull()]

print(left_out['Country'])

624              Cook Islands
769                  Dominica
1650         Marshall Islands
1715                   Monaco
1812                    Nauru
1909                     Niue
1958                    Palau
2167    Saint Kitts and Nevis
2216               San Marino
2713                   Tuvalu
Name: Country, dtype: object

In [7]:
left_out

,Country,Year,Status,LifeExpectancy,AdultMort,InfD,EtOH,PercExpen,HepB,Measles,...,Polio,TotalExpen,DTP,HIV,GDP,Population,Thin1_19y,Thin5_9y,Income,Education
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.000000,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
769,Dominica,2013,Developing,NaN,NaN,0,0.01,11.419555,96.0,0,...,96.0,5.58,96.0,0.1,722.756650,NaN,2.7,2.6,0.721,12.7
1650,Marshall Islands,2013,Developing,NaN,NaN,0,0.01,871.878317,8.0,0,...,79.0,17.24,79.0,0.1,3617.752354,NaN,0.1,0.1,NaN,0.0
1715,Monaco,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,4.30,99.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN
1812,Nauru,2013,Developing,NaN,NaN,0,0.01,15.606596,87.0,0,...,87.0,4.65,87.0,0.1,136.183210,NaN,0.1,0.1,NaN,9.6
1909,Niue,2013,Developing,NaN,NaN,0,0.01,0.000000,99.0,0,...,99.0,7.20,99.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN
1958,Palau,2013,Developing,NaN,NaN,0,NaN,344.690631,99.0,0,...,99.0,9.27,99.0,0.1,1932.122370,292.0,0.1,0.1,0.779,14.2
2167,Saint Kitts and Nevis,2013,Developing,NaN,NaN,0,8.54,0.000000,97.0,0,...,96.0,6.14,96.0,0.1,NaN,NaN,3.7,3.6,0.749,13.4
2216,San Marino,2013,Developing,NaN,NaN,0,0.01,0.000000,69.0,0,...,69.0,6.50,69.0,0.1,NaN,NaN,NaN,NaN,NaN,15.1
2713,Tuvalu,2013,Developing,NaN,NaN,0,0.01,78.281203,9.0,0,...,9.0,16.61,9.0,0.1,3542.135890,1819.0,0.2,0.1,NaN,0.0

In [4]:
df.loc[df['Country'] == 'Cook Islands']

,Country,Year,Status,LifeExpectancy,AdultMort,InfD,EtOH,PercExpen,HepB,Measles,...,Polio,TotalExpen,DTP,HIV,GDP,Population,Thin1_19y,Thin5_9y,Income,Education
624,Cook Islands,2013,Developing,NaN,NaN,0,0.01,0.0,98.0,0,...,98.0,3.58,98.0,0.1,NaN,NaN,0.1,0.1,NaN,NaN